body
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    background-color: #000000; 
    background-attachment: fixed;
}

#header1
{
    background-image: url('images/linen.jpg');
    margin-left: 100px;
    float: left;
    width: 1000px;
}

ul
{
    padding-left: 0%;
    //text-align: center;
    //width: 100%;
}

li
{
    display: inline-block;
    padding-top: 2%; 
    padding-left: 3%;
    padding-right: 3%;
    height: 50px;
    width: 13.5%;
    text-align:center;
}
.wrap
{
    margin-left: 100px;
    width: 1000px;
}
#section1
{
    background-image: url('images/linen.jpg');
    //text-align: center;
    color: #848482;
    display: inline-block;
    //text-align: justify;
}

.content
{
    vertical-align: top;
    display: inline-block;
    width: 32.9%;
}

.paragraph
{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    text-align: center;
}

a.links{color: #848482;text-decoration:none;} 
a.links1{color: #00ffed;text-decoration:none;}
a.links:hover{color: #ff5500;text-decoration:none;}

jpg
{

}

/* Wrapper for page content to push down footer */
.footer_wrap
{
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer
{
    text-align: center;
	height: 40px;
	background-color: #848482;
    margin-top: 100%;
}
